version: "3.9"

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: fd-zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: fd-kafka
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://fd-kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'true'
    ports:
      - "9092:9092"
    healthcheck:
      test: ["CMD", "kafka-broker-api-versions", "--bootstrap-server", "localhost:9092"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s

  akhq:
    image: tchiotludo/akhq
    container_name: fd-kafka-ui
    restart: unless-stopped
    environment:
      AKHQ_CONFIGURATION: |
        akhq:
          connections:
            docker-kafka-server:
              properties:
                bootstrap.servers: "fd-kafka:9092"
              schema-registry:
                url: "http://schema-registry:8085"
              connect:
                - name: "connect"
                  url: "http://connect:8083"

    ports:
      - 8080:8080
    links:
      - kafka

  redis:
    image: redis:7
    container_name: fd-redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 5s

  postgres:
    image: postgres:15
    container_name: fd-postgres
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      POSTGRES_DB: ${PG_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${PG_USER}"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 20s

  order:
    build:
      context: .
      dockerfile: internal/services/order/Dockerfile
    container_name: fd-order
    env_file:
      - .env
    ports:
      - "8081:8081"
      - "50052:50052"
    depends_on:
      redis:
        condition: service_healthy

  restaurant:
    build:
      context: .
      dockerfile: internal/services/restaurant/Dockerfile
    container_name: fd-restaurant
    env_file:
      - .env
    ports:
      - "8088:8088"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      kafka:
        condition: service_healthy

  delivery:
    build:
      context: .
      dockerfile: internal/services/delivery/Dockerfile
    container_name: fd-delivery
    env_file:
      - .env
    depends_on:
      redis:
        condition: service_healthy

  rating:
    build:
      context: .
      dockerfile: internal/services/rating/Dockerfile
    container_name: fd-rating
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      kafka:
        condition: service_healthy

  mockify:
    build:
      context: .
      dockerfile: ./mockify.Dockerfile
    container_name: fd-mockify
    environment:
      BROKERS: "fd-kafka:9092"
      TOPIC: "order.created"
      COUNT: "5"
      INTERVAL: "500"
    depends_on:
      - kafka
    restart: "no"

volumes:
  pgdata:
